body{
    --inv: #fff;
}

#overlay{
    background-color: #e8ded2;
}

.logo img{
    width: 10%;
    height: 10%;
}

.main img{
    width: 100%;
    height: 401px;
}

#typewriter{
    color: white;
    font-size: 3em;
}

.hungry{
    font-size: 2em;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -400%);
}

.typewriter{
    position: absolute;
    top: 42%;
    left: 45%;
    transform: translate(-10%, -110%);
}

.slides{
    font-family: 'Lexend Deca', sans-serif;

}

.orderbtn{
    position: absolute;
    top: 55%;
    left: 47%;
    transform: translate(-26%, -100%);
    background-color: transparent;
    border-color: #5eaaa8;
    border-width: 3px;
    color: white;
    font-weight: bold;
    padding: 15px 40px;
    display: inline-block;
    font-size: 1.1em;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
}

.orderbtn:before, .orderbtn:after {
    content: '';
    position: absolute;	
    transition: inherit;
    z-index: -1;
}
        
.orderbtn:hover {
    color: var(--def);
    transition-delay: .5s;
}
        
.orderbtn:hover:before {
    transition-delay: 0s;
}
        
.orderbtn:hover:after {
    background: #5eaaa8;
    transition-delay: .35s;
}

/* From center */
.from-center:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid #5eaaa8;
    border-left: 0;
    border-right: 0;
}
        
.from-center:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: #5eaaa8;
}
        
.from-center:hover:before {
    left: 0;
    width: 100%;
}
        
.from-center:hover:after {
    top: 0;
    height: 100%;
}