.container{
    margin-top: 100px;
}

textarea{
    width:100%;
    margin-top: -15px;
    margin-bottom: 0px;
    height:50px;
}

.price{
    font-weight:bold;
    font-size: large;
}

.halal{
    color: #00cc00;
}

.description{
    margin-top: 15px;
}

.cart{
    background: #FE980F;
    color: #FFFFFF;
    font-size: 15px;
    margin-left: 20px;
}

.product-name{
    font-size: xx-large;
}

.description{
    font-size: large;
    font-weight: bold;
}

#home .container{
    margin-top: 10px;
}

/* Item Grid Starts */
#home .col {
    border-radius: 15px;
    padding: 15px;
    margin: 20px 20px 20px 20px;
}

#home .container img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;   
}

/* Item Grid Ends */

#home .container p{
    font-size: x-large;
    color: black;
    font-weight: bold;
    
}

#home .container hr{
    border: 1px solid black; 
    border-radius: 12px;
}

#home h4{
    font-weight: bold;
    font-size: x-large;
}

#home .row{
    margin-bottom: 15%;
}